body {
  transition: background-color .5s, color .5s;
}

/* Define styles for light and dark modes */
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

/* Additional styles for other elements if needed */
.navbar-light-mode {
  background-color: #f8f9fa;
}

.navbar-dark-mode {
  background-color: #343a40;
}

.nav-link-light-mode {
  color: #000000;
}

.nav-link-dark-mode {
  color: #ffffff;
}
